/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/

$texty-inputs:
    'input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="week"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="color"]';

$error-red: #f00;

.bf-error,
.sr-only {
	display: none;
}

.bf-error {
	color: $error-red;
}

.bf-star {
	color: $error-red;
}

.bfrf-form {
	select,
	textarea,
	#{$texty-inputs} {
		background-color: #fff;
		border: 1px solid #000;

		&:active,
		&:focus {
			background-color: #fff;
		}

		&.invalid {
			background-color: $error-red;
		}
	}

	[type=checkbox].invalid {
		outline: 3px solid $error-red;
	}

 	.state {
		display: none;
	}

	&.validated {
		select,
		textarea,
		#{$texty-inputs} {
			&:invalid {
				background-color: $error-red;
			}
		}

		[type=checkbox]:invalid {
			outline: 3px solid $error-red;
		}

	}

	.bfrf-lda-fields {
		display: inline-block;
		text-align: center;
		width: 100%;

		.bfrf-lda-label {
			display: inline-block;
			width: 100%;
		}

		.bfrf-lda-field {
			display: inline-block;
			float: left;
			margin: 0;
			padding: 0;
			width: 33%;

			#{$texty-inputs}{
				width: 100%;
			}
		}
	}

	#g_recaptcha {
		display: inline-block;
		width: auto;

		.g-recaptcha {
			display: inline-block;
			width: auto;
		}
	}

	#g_recaptcha.invalid > .g-recaptcha {
		border: 2px solid $error-red;
	}
}

.bfrf-lightbox {
	background-color: #fff;
	display: none;
	padding: 15px;

	.bfrf-lightbox--close-container {
		left: 0;
		position: absolute;
		text-align: right;
		top: 0;
		width: 100%;

		i {
			margin-right: 5px;
		}

		i:hover {
			color: lighten(#000, 25%);
			cursor: pointer;
		}
	}
}

//FROM BONES FRAMEWORK
//http://themble.com/bones/

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	//@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	//@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	//@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	//@import "breakpoints/1240up";

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	//@import "breakpoints/2x";

} // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	//@import "partials/print";

}

@import 'custom';